DATABASE_URL="postgresql://user:password@localhost/dbname"
JWT_SECRET="change-this-to-a-long-random-string-min-32-chars"
JWT_EXPIRES_IN="7d"
PORT=5000
CORS_ORIGIN="http://localhost:5173"
NODE_ENV="development"